*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html,body{
    width:100%;
    height:100%;
}
body{
    background:linear-gradient(to top,#0d2440,#2e5e99,#7ba4d0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#e7f0fa;
    gap:50px;
    overflow: hidden;
}
header h1{
    color:#fff;
    font-size:1.2rem;
    font-weight: 700;
    flex-grow:1;
    flex-shrink:1;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    background-color: #7ba4d0;
    border-radius:7px;
    border: 1.5px solid #0d2440;
    box-shadow: 0px 0px 6px #7ba4d0 ;
    max-width:600px;
    width:300px;
    height:60vh;
    padding:10px 20px;
}
main button{
    border:none;
    padding:7px 20px;
    border-radius:7px;
    background-color: #0d2440;
    color: #e7f0fa;
}
main button span{
    transition: all 0.3s ease;
    border:1px solid #7ba4d0;
    border-radius:50%;
    background-color:#e7f0fa;
    width:20px;
    height:20px;
    display: block;
    position: relative;
    top:0px;
    right:15px;
}
main label{
    font-size:1.3rem;
}
main input{
    padding:14px 20px;
    border-radius:6px;
    border:1px solid #0d2440;
    box-shadow:0px 0px 10px #0d244082;
    font-size:0.9rem;
    transition: all 0.3s ease;
}
main input:focus{
    outline:1px solid #0d2440;
}
main input:active{
    scale:1.05;
}
#convertBtn{
    padding:13px 30px;
    font-size:1rem;
    position: relative;
    transition: all 0.3s ease;
}
#convertBtn:hover{
    scale:1.07;
}
#convertBtn:active{
    scale:0.9;
    box-shadow:0px 6px 20px #2e5e99;
}
main h3{
    color:#fff;
    font-weight:600;
    font-size:1.3rem;
}
main p{
    width:12rem;
    border:1px solid #0d2440;
    border-radius:7px;
    height:50px;
    background-color:#fff;
    padding:10px 20px;
    text-align:center;
    color:#b1b1b1;
}

/* for button  */
.btn{
    right:-14px;
    background-color:#7ba4d0;
    rotate:360deg;
}
/* for tablet screens */
@media (min-width:767px) {
    main{
        width:500px;
    }
}
